@mixin styleText($color,$fs,$fw,$lineheight) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    line-height: $lineheight;
}

@mixin styleButton($color,$bg-color,$pd-tb,$pd-lr,$color-hover,$bg-color-hover) {
    color: $color;
    background-color: $bg-color;
    padding: $pd-tb $pd-lr;
    &:hover{
        color: $color-hover;
        background-color: $bg-color-hover;
    }
}

// Responsive
@mixin responsive($screen) {
    // Lấy giá trị dựa vào tên màn hình
    // Kiểm tra tên màn hình có hợp lệ không? Kiểm tra tên có tồn tại trong biến $breakpoints
    @if(map-has-key($map: $breakpoints, $key: $screen)){
        $value: map-get($map: $breakpoints,$key: $screen);
        @media screen and (max-width:$value){
            @content;
        }
    }
    @else{
        @warn "Màn hình không tồn tại";
    }
}