.courses{
    display: flex;
    justify-content: center;
    width: 93%;
    margin: 0 auto;
    margin-top: $mg-2;
    .courses__description{
        background-color: $color-gray-5;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .courses__description-content{
            text-align: left;
            h1{
                @include styleText($color-black-0,$fs-2,$fw-bold-1,$line-height-0);
            }
            span{
                @include styleText($color-black-0,$fs-0 + 1,$fw-normal,$line-height-0);
            }
        }
    }
    .courses__detail{
        .nav{
            border-bottom: 1px solid $color-gray-6;
            margin-bottom: $mg-1 + 5;
            justify-content: space-between;
            .nav-item{
                .nav-link{
                    font-size: $fs-1 !important;
                    border: none;
                    @include styleText($color-black-0,$fs-0,$fw-normal,$line-height-0); 
                    &:hover{
                        color: $color-blue;
                    }
                    &:focus{
                        color: #003845;
                    }
                }
                .active{
                    border-bottom: 6px solid $color-blue;
                }
            }
        }
        .tab-content{
            .carousel-fade{
                .courses__detail-list{
                    .courses__detail-item{
                        opacity: 1;
                        display: inline-block;
                        transition: all .3s;
                        &:hover{
                            text-decoration: none;
                            box-shadow: 0 4px 4px 4px $color-gray-1;
                        }
                        .courses__detail-img{
                            img{
                                width: 100%;
                            }
                        }
                        .courses__detail-content{
                            padding: 15px 10px 0 15px;
                            text-align: left;
                            border: 1px solid $color-gray-1;
                            .courses__detail-heading{
                                margin-bottom: $mg-1;
                                p{
                                    @include styleText($color-black-0,$fs-0,$fw-bold-1,$line-height-0);
                                }
                                span{
                                    @include styleText($color-gray-4,$fs-1 - 1,$fw-bold-1,$line-height-0);
                                }
                            }
                            .courses__detail-rate{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .courses__detail-rate-star{
                                    @include styleText($color-yellow,$fs-1,$fw-normal,$line-height-0);
                                }
                                .courses__detail-rate-point{
                                    @include styleText($color-black-light,$fs-0,$fw-bold-1,$line-height-0);
                                }
                                .courses__detail-rate-count{
                                    @include styleText($color-gray-4,$fs-0 - 3,$fw-normal,$line-height-0);
                                }
                            }
                            .courses__detail-price{
                                text-align: right;
                                margin-top: $mg-1;
                                .courses__detail-price-dash{
                                    margin-right: $mg-1;
                                    @include styleText($color-black-0,$fs-1,$fw-normal,$line-height-0);
                                }
                                .courses__detail-price-discount{
                                    @include styleText($color-black-0,$fs-0 + 3,$fw-bold-1,$line-height-0);
                                }
                            }
                        }
                    }
                }
            }
            .carousel-control-prev , .carousel-control-next{
                width: 5%;
                .carousel-control-prev-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color-blue;
                    position: absolute;
                    top: 40%;
                    left: -20px;
                    &:hover{
                        box-shadow: 2px 2px 2px 2px $color-gray-1;
                    }
                }
                .carousel-control-next-icon{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: $color-blue;
                    position: absolute;
                    top: 40%;
                    right: -20px;
                    &:hover{
                        box-shadow: 2px 2px 2px 2px $color-gray-1;
                    }
                }
            }
        }
    }
}
@include responsive("extra-large"){
    .coureses{
        .courses__detail{
            .nav{
                .nav-item{
                    .nav-item{
                        font-size: $fs-1 !important;
                    }
                }
            }
        }
    }
}

@include responsive("large"){
    .courses{
        .courses__description{
            display: none;
        }
        .courses__detail{
            .nav{
                .nav-item{
                    .nav-link{
                        font-size: $fs-1 - 1 !important;
                    }
                }
            }
            .carousel-control-prev-icon{
                width: 25px !important;
                height: 25px !important;
                left: -30px !important;
            }
            .carousel-control-next-icon{
                width: 25px !important;
                height: 25px !important;
                right: -30px !important;
            }
        }
    }
}

@include responsive("small"){
    .courses{
        .courses__detail{
            .courses__detail-list{
                .courses__detail-content{
                    .courses__detail-heading{
                        p{
                            font-size: 9px !important;
                        }
                        span{
                            font-size: 8px !important;
                        }
                    }
                    .courses__detail-rate{
                        .courses__detail-rate-star{
                            font-size: 5px !important;
                        }
                        .courses__detail-rate-point{
                            font-size: 5px !important;
                        }
                        .courses__detail-rate-count{
                            font-size: 5px !important;
                        }
                    }
                    .courses__detail-price{
                        .courses__detail-price-dash{
                            font-size: 8px !important;
                        }
                        .courses__detail-price-discount{
                            font-size: 8px !important;
                        }
                    }
                }
            }
            .carousel-control-prev{
                .carousel-control-prev-icon{
                    width: 20px !important;
                    height: 20px !important;
                    left: -25px !important;
                }
            }
            .carousel-control-next{
                .carousel-control-next-icon{
                    width: 20px !important;
                    height: 20px !important;
                    right: -25px !important;
                }
            }
        }
    }
}

