.ude-student{
    .ude-student-container{
        .row{
            margin: 0;
            .ude-student-heading{
                width: 91%;
                margin: 0 auto;
                margin-top: $mg-2;
                h2{
                    @include styleText($color-black-light,$fs-2 - 1,$fw-normal,$line-height-0);
                    margin: 0;
                }
            }
        }
    }
}

@include responsive("small"){
    .ude-student{
        .courses{
            .carousel-control-prev{
                .carousel-control-prev-icon{
                    width: 20px !important;
                    height: 20px !important;
                    left: -9px !important;
                }
            }
            .carousel-control-next{
                .carousel-control-next-icon{
                    width: 20px !important;
                    height: 20px !important;
                    right: -9px !important;
                }
            }
        }
    }
}